@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using BatteryConditionInventory.Core.Entities;
@model ICollection<BatteryCondition>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Список АКБ модели: @ViewBag.BatteryModel.BatteryModelName</title>
</head>
<body>
    <h3>Список АКБ производителя @ViewBag.BatteryModel.BatteryBrand.BatteryBrandName модели @ViewBag.BatteryModel.BatteryModelName </h3>
    <table>
        <tr>
            <td>Номер АКБ</td>
            <td>Адрес</td>
            <td>Дата установки</td>
        </tr>

        @foreach (var battery in Model)
        {
        <tr>
            <td>
                <a href="~/Home/GetBatteryCondition/@battery?.Id">
                    @battery.BatteryLocalId
                </a>
            </td>
            <td>@battery.AddressByDates.LastOrDefault()?.House.Street.StreetName @battery.AddressByDates.LastOrDefault()?.House.HouseNumber</td>
            <td>@battery.AddressByDates.LastOrDefault()?.DateTime</td>
        </tr>
        }
        </table>

</body>
</html>
